<div class="col-sm-5 content-box">
    <u>{{organization}}</u><br>
    <i>{{title}}</i><br>
    Dates: {{start_year}} - {{end_year}}
</div>
<div class="col-sm-7">
    <div class="edit icon-box noselect">
        <i class="glyphicon glyphicon-pencil"></i>
    </div>
</div>
