<div class="col-sm-5 content-box">
    <input class="organization" type="text" value="{{organization}}"><br>
    <input class="title" type="text" value="{{title}}"><br>
    Dates:
    <input class="year startYear" type="text" value="{{start_year}}"> -
    <input class="year endYear" type="text" value="{{end_year}}">
</div>
<div class="col-sm-7">
    <div class="save icon-box">
        <i class="glyphicon glyphicon-ok"></i>
    </div>
    <div class="error hide">
    </div>
</div>
